*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: rgb(183, 255, 183); */
    
}


header{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}


.Features{
    width: 200vh;
    height: fit-content;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



header button{
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    padding: 12px 30px;
    background-color: white;
    display: flex;
    justify-content: center;
}


#excel{
    font-size: 150px;
    color: black;
}


#practice{
    font-size: 80px;
    color:#22C55E;
}


.landing{
    display: flex;
    flex-direction:column ;
    text-align: center;
    height: 90vh;
}


.landing h3{
     font-size: 40px;
}


.landing p{
    font-size: 18px;
}


.landing span{
    color:#22C55E;
}


.landing button{
      width: fit-content;
      padding: 35px 60px ;
      border-radius: 50px;
      color: white;
      background: linear-gradient(90deg,#00ea56,#00ac48);
      border:none;
      margin: 0 auto;
      font-size: 30px;

}



.Features p{
    font-size: 18px;
}


.Features span{
    font-weight: bold;
    color:#22C55E;
}


#getintouch{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


footer{
    height: 300px;
    background-color: rgb(71, 86, 74);
}

#Getintouchpic{
    height: 100vh;
    width: 100vh;
}


p{
    font-size: 22px;
    color: rgb(60, 73, 63) ;
}


#email{
    height: 50px;
}

form{
    display: flex;
    flex-direction: column;
    border: #F3F4F6 solid 1px;
    padding: 2rem;
    background-color: #F9FAFB;
    border-radius: 20px;
    margin: 3rem auto;
    width:60vh;
}

#getintouch button{
    margin-top: 2rem;
    height: 50px;
    font-size: 20px;
    background-color: #0de05a;
    border: none;
    border-radius: 15px;
}


#getintouch button:hover{
    background:linear-gradient(#00ac48,#0de05a,#0de05a,#00ac48);
}


#getintouch label{
    margin: 1rem 0;
}

#getintouch input{
    height: 40px;
    border: #E5E7EB solid 1px;
    border-radius: 12px;
    background-color: #F9FAFB;
    font-size: 18px;
    padding-left: 1rem;
}

#getintouch textarea{
    border: #E5E7EB solid 1px;
    border-radius: 12px;
    background-color: #F9FAFB;
    font-size: 18px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    height: 5rem;
}

#getintouch input:focus{
    outline: none;
    border: #00ea56 1px solid;
    box-shadow: 0 0 0.3rem #00ea56 ;
}

#getintouch textarea:focus{
    outline: none;
    border: #00ea56 1px solid;
    box-shadow: 0 0 0.3rem #00ea56 ;
}

#Guided_paths{
    width: 200vh;
    margin-bottom: 5rem;
    padding: 1rem;
}

.Features h2{
    font-size: 2.5rem;
    color:#00ac48;
    margin-bottom: 2rem;
}

#Subject_nav{
    margin: 2rem auto;
    text-align: center;
    border: rgb(231, 221, 221) solid 1px;
    width: fit-content;
    padding: 0.6rem 0.5rem;
    border-radius: 30px;
}

#Subject_nav button{
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    border: none;
    background-color: white;
    color: rgb(60, 73, 63);
    font-size: 1rem;
    border-radius: 22px;
    font-weight: 600;
}

#Subject_nav button:hover{
    background-color: rgb(237, 237, 237);
   
}

#Subject_nav button:focus{
    background-color: #1d1f1e;
    color: white;
}


#courses-and-preview{
    width: 190vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#journey h2 , #Guided_paths h2, #Costomize_Quiz h2{
    font-size: 3rem;
    color:#00ac48;
    margin-bottom: 2rem;
    text-align: center;
}

#Guided_paths p{
    text-align: center;
}

#Costomize_Quiz{
    margin: 1rem;
}

#Costomize_Quiz p{
    margin-bottom: 2rem;
}

#demo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.quiz{
    width:80vh;
    padding: 2.2rem;
    border-radius: 1rem;
}


.icons{
   margin: 1rem; 
}

.quiz h3{
    font-size: 2rem;
    margin: 0.5rem 0;
}

.quiz span{
    font-size: 1.2rem;
    color: #474849;
   
}

.all_Yours{
    display: flex;
}

.all_Yours div{
    height: 15vh;
}

.block{
    margin-bottom: 2rem;
}


.block h3{
    margin-bottom: 1.5rem;
}

.block p{
    font-size: 1.2rem;
   
}

.options{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.option_no{
    width: 6rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    border: 1px solid #333;
    font-size: 18px;
}

.option_no:hover{
    background:linear-gradient(#00ea56);
    transform: translateY(-3px);
     border: none;
}

.option_no:focus{
    background:linear-gradient(#00ea56);
     border: none;
}

.option_time{
    width: 6rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    border: 1px solid #333;
    font-size: 18px;
}

.option_time:hover{
    background:linear-gradient(#00ea56);
    transform: translateY(-3px);
    border: none;
}

.option_time:focus{
    background:linear-gradient(#00ea56);
     border: none;
}

.Unlimited-btn{
    margin: 20px 0;
    width: 220px;
    height: 48px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: rgb(201, 201, 201);
}

.Unlimited-btn:hover{
    background-color: #00ea56;
    transform: translateY(-3px);
}

.Unlimited-btn:focus{
    background-color: #00ea56;
}


img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 8px;
}

.start{
    text-align: center;
}

.start button{
    width: fit-content;
    padding: 15px 30px ;
    border-radius: 50px;
    color: white;
    background: linear-gradient(90deg,#00ea56,#00ac48);
    border:none;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 30px;
}


#getintouch h2{
    font-size: 2.5rem;
    color:#00ac48;
    margin-bottom: 2rem;
}

.Review{
    display: flex;
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgb(225, 218, 218);
    width: 12rem;
}   
   

.journeyy{
    display: flex;
    flex-direction: column;
}


#journey{
    padding:2rem 1rem;
    background-color: whitesmoke;
}

#inline{
    display: flex;
    margin:5rem;
    justify-content: space-between;
}

.whats_going{
    height: 6rem;
    border: whitesmoke 1px solid;
    background-color: white;
    box-shadow: 0 0 5px rgb(225, 218, 218);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

i{
    color:rgb(90, 90, 90);
    padding: 0 0.2rem;
}

.whats_going h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.chapters{
    display: flex;
    
}

.chapters span{
    margin: 0 1rem;
    background-color: rgb(255, 100, 100);
    height: fit-content;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
}

.spans span{
    margin-right:2rem;
}


.whats_going button{
    border: none;
    background-color: white;
    margin-top: 0.5rem;
    font-size: 1rem;
    color:#0de05a
}