*{
    margin: 0;
    padding: 0;

}

img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 8px;
}

body{
    background-color: whitesmoke;
}


@media (max-width: 768px) {
    .mainbox {
        margin: 0 16px;
        padding: 20px;
    }

    .options {
        flex-wrap: wrap;
    }

    .option {
        width: 100%;
    }
}

#demo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.quiz{
    max-width:80vh;
    height: 80vh;
    padding:1rem  2rem;
    border-radius: 1rem;
    margin: 7.5vh auto;
    background-color: white;
}

.icons{
   margin: 1rem; 
}

.quiz h3{

    font-size: 2rem;
    margin: 0.5rem 0;
}

.quiz span{
    font-size: 1.2rem;
    color: #474849;
   
}

.all_Yours{
    display: flex;
}

.all_Yours div{
    height: 15vh;
}

.block{
    margin-bottom: 2rem;
}


.block h3{
    margin-bottom: 1.5rem;
}

.block p{
    font-size: 1.2rem;
   
}

.options{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.option_no{
    width: 6.2rem;
    height: 2.8rem;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    border: none;
    font-size: 18px;
}

.option_no:hover{
    background: linear-gradient(-135deg,#4be38d,#12ee96);
    transform: translateY(-3px);
     border: none;
}

.option_no:focus{
    background: linear-gradient(-135deg,#4be38d,#12ee96);
     border: none;
}

.option_time{
    width: 6.2rem;
    height: 2.8rem;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    border: none;
    font-size: 18px;
}

.option_time:hover{
    background: linear-gradient(-135deg,#4be38d,#12ee96);
    transform: translateY(-3px);
    border: none;
}

.option_time:focus{
    background: linear-gradient(-135deg,#4be38d,#12ee96);
     border: none;
}

.Unlimited-btn{
    margin: 20px 0;
    width: 220px;
    height: 48px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
    background-color: whitesmoke;
}

.Unlimited-btn:hover{
    background-color: #F97415;
    transform: translateY(-3px);
}

.Unlimited-btn:focus{
    background-color: #F97415;
}

.center{
    margin-bottom: 15px;
    text-align: center;
}

.start{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
    

#start{
    padding: 10px 0;
    width: 76vh;
    border: none;
    border-radius: 10px;
    background: linear-gradient(-135deg,#4be38d,#12ee96);
    font-size: 30px;
    /* color: white; */
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#start:hover{
     background: linear-gradient(-135deg,#76ffb2,#10d888);
    transform: translateY(-3px) ;
}
